**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.pyright
**/.mypy_cache
**/.venv
**/venv
**/dist
**/build
**/.coverage
**/htmlcov
**/.ipynb_checkpoints
.env
.env.*
.secrets/
**/*.tfstate
**/*.tfstate.*
**/.terraform
.git
.github
docs
notebooks
